.navbar {
    // background: linear-gradient(180deg, rgba(51, 49, 49, 0.7) 0%, rgba(28, 28, 28, 0.376923) 99.99%, rgba(197, 155, 155, 0) 100%);
    // filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.3));
    padding: 20px 10px;
    width: 100%;
    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .navbar-link {
            display: flex;
            align-items: center;
            &__title {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                margin-right: 30px;
            }
            &__item {
                margin-right: 30px;
                border-radius: 50%;
                border: none;
                transition: 0.5s all;
                &:hover {
                    border: 1px solid $main-color;
                }
                
            }
            :last-child {
                border: none;
            }
        }
        .text-link {
            display: flex;
            &__navi {
                cursor: pointer;
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #fff;
                margin-right: 30px;
                &:hover {
                    text-shadow: 1px 1px 2px $main-color;
                }
            }
            :last-child {
                margin-right: unset;
            }
        }
    }
    &__btn {
        background: none;
        width: 148px;
        height: 60px;
        border: 2px solid #FBFF22;
        border-radius: 5px;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: $main-color;
        transition: 0.5s all;
        &:hover {
            transform: scale(1.1);

        }
    }
}




@media (max-width: 992px) {
    .container {
        max-width: 720px;
        .text-link {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
        .navbar {
            &__btn {
                width: 100px;
                height: 40px;
                font-size: 16px;
            }
            &-link {
                    &__title {
                        display: none;
                    }
                }
            }
            
            .text-link {
                :last-child {
                    margin-right: 20px;
                }
            }  
        }
}

@media (max-width: 426px) {
    .container {
        width: 100%;
        padding: 0 20px;
        .navbar {
            &__btn {
                width: 100px;
                height: 40px;
                font-size: 14px;
            }
            &-link {
                    &__title {
                        display: none;
                    }
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            } 
        }
    }
    @media (max-width: 320px) {
        .container {
            width: 100%;
            padding: 0 20px;
            .navbar {
                &__btn {
                    width: 100px;
                    height: 40px;
                    font-size: 14px;
                }
                &-link {
                        &__title {
                            display: none;
                        }
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .text-link {
                    :last-child {
                        margin-right: 20px;
                    }
                }  
            }
        }