.projects {
    padding: 20px 10px;
    margin-top: 100px;
    &-title {
        position: relative;
        text-align: center;
        color: #fff;
        &__header {
            
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            color: $main-color;
        }
        &__subtext {
            position: absolute;
            top: -100px;
            left: 0;
            font-weight: 600;
            font-size: 170px;
            line-height: 270px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px rgba(153, 153, 153, 0.3);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
        .projects {
            &-title {
                &__subtext {
                    font-size: 105px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .container {
    .projects {
        &-title {
            &__subtext {
                font-size: 105px;
            }
        }
    }
}
}
        
    

@media (max-width: 576px) {
    .projects {
        margin-top: 10px;
    .container {
        width: 100%;
        padding: 0 20px;
        .projects {
            &-title {
                &__subtext {
                    font-size: 54px;
                }
            }
        }
    }
}
}
@media (max-width: 425px) {
    .projects {
        margin-top: 10px;
    .container {
        width: 100%;
        padding: 0 20px;
        .projects {
            &-title {
                &__subtext {
                    font-size: 53px;
                    top: -120px;
                }
            }
        }
    }
}
}

@media (max-width: 415px) {
    .projects {
        margin-top: 10px;
    .container {
        width: 100%;
        padding: 0 20px;
        .projects {
            &-title {
                &__header {
                    font-size: 30px;
                }
                &__subtext {
                    display: none;
                }
            }
        }
    }
}
}

